extends footer_layout

block content
    .my-4
        h1.display-4 版權告示
        p 本網站及其內容的版權屬於星島日報洛杉磯有限公司 © Sing Tao Newspapers Los Angeles 2018。版權所有，翻印必究。
        p 除以下情況外，禁止任何人以任何方式再發佈或再製作部分或全部的網站內容：
        ul
            li 您可以打印或下載內容摘要，將其存入本地硬盤，只供個人而非商業目的之用途。
            li 您可以複製網絡內容，傳送給獨立的第三方供個人使用，不過您必須公開承認網站材料來源出處。
        p 未經星島日報的書面許可，您不得發送、使用網站內容來營利，亦不得將內容轉送存儲在其他形式的電子檢索系統中。

        h1.display-4 Copyright Notice
        p This website and its content is copyright of Sing Tao Newspapers Los Angeles Ltd © Sing Tao Newspapers Los Angeles 2018. All rights reserved.
        p Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:
        ul
            li You may print or download to a local hard disk extracts for your personal and non-commercial use only.
            li You may copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material.
        p You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.