doctype html
html
  head
    title 分類廣告投稿
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="https://use.fontawesome.com/releases/v5.0.1/js/all.js")

    link(rel="shortcut icon", href="/images/page_icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css")
    script(src="https://www.google.com/recaptcha/api.js")
    
    body.bg-light.container
      .py-5 
        img.d-block.mx-auto.mb-2(src="/images/page_icons/ST_logo.png", alt="SingtaoLA_logo", width="250px")
        h2.text-center.mb-4 分類廣告投稿

        block content

      footer.my-4.pt-4.text-muted.text-center.text-small
        p.mb-1 &copy; 2017-2018 SingTao Daily

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js")
    