extends footer_layout

block content
    .my-4
        h1.display-4 私隱政策聲明
        p 本隱私政策公佈了星島日報洛杉磯有限公司隱私慣例。該政策僅適用於本網站收集的信息，並將通知您如下事實：
        ol
            li （星島日報）通過網站都收集到哪些有關您個人的身份信息、如何使用這些信息，可能與什麼人共享。
            li 關於您的數據使用方面，您有什麼選擇。
            li 為保護您的信息被盜用，現有哪些安全保護程序。
            li 您如何糾正個人信息中的任何錯誤。
        
        h5: u 信息收集、使用和共享
        p 星島日報是本網站所收集到信息的唯一擁有者。您通過電子郵件或其他直接接觸（我們唯一接觸您信息的通道），自願把您的信息交給我們，我們不會向任何人出售或出租這些信息。有關您聯繫我們的理由，我們將用您的信息來回應你。我們不會與本機構之外的任何第三方的共享您的信息，除非是為完成您提出的要求所必須的，例如：收到訂單後運送。除非您告訴我們不要通知您，否則未來我們可能將通過電子郵件與您聯絡，通知您有關特價、新產品或新服務，或通知隱私政策發生任何變更。

        h5: u 接觸和控制您的信息
        p 您在任何時候都可以選擇未來不與我們聯繫。您可以通過我們網站提供的電郵地址或電話號碼，執行下列操作程序：
        ul
            li 如果我們掌握有關您的數據，您可以隨時查看，
            li 更改/糾正我們掌握的有關您的任何數據，
            li 要求我們刪除任何關於您的數據，
            li 表述您對我們使用您數據的任何擔憂。
        
        h5: u 安全
        p 為保護您的個人信息安全，我們採取預防措施。當您通過網站提交敏感信息時，您的信息無論在線或是離線，均受到保護。
            br
            | 無論我們在哪裡收取敏感信息（如信用卡數據），這些信息都被加密，並通過安全方式傳給我們。為驗證其安全性，您可以在網頁底部找到一把關閉的小鎖標圖，或尋找以「http」開頭的網頁地址。雖然我們使用加密器來保護在線傳輸敏感信息，我們也有離線時保護您信息的措施。只有當公司員工需要信息來執行特定任務（例如，寄送賬單或提高客戶服務），他們將獲得授權接觸客戶個人身份信息。存儲個人身份信息的電腦/伺服器都存放在安全的環境中。

        h5: u 更新
        p 我們的隱私政策可能不時會有改變，所有更新版本都將被張貼在此頁上。
        p: strong 如果您認為我們沒有遵守本隱私政策，您應該立即通過電話與我們聯繫，電話號碼：
            a(href="tel:5259558200") (525) 955-8200
            | ，或通過電郵：
            a(href="mailto:admin@SingTaola.com") admin@SingTaola.com
            | 。
            
        h1.display-4 Privacy Policy
        p This privacy policy discloses the privacy practices for WWW.SINGTAOLA.COM. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
        ol
            li What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.
            li What choices are available to you regarding the use of your data.
            li The security procedures in place to protect the misuse of your information.
            li How you can correct any inaccuracies in the information.
        
        h5: u Information Collection, Use, and Sharing
        p We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
            br
            | We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
            br
            | Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.

        h5: u Your Access to and Control Over Information
        p You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
        ul
            li See what data we have about you, if any.
            li Change/correct any data we have about you.
            li Have us delete any data we have about you.
            li Express any concern you have about our use of your data.
        
        h5: u Security
        p We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
            br
            | Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for “https” at the beginning of the address of the web page.
            br
            | While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.

        h5: u Updates
        p Our Privacy Policy may change from time to time and all updates will be posted on this page.
        p: strong If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 
            a(href="tel:5259558200") (525) 955-8200
            | 
            | or via email 
            a(href="mailto:admin@SingTaola.com") admin@SingTaola.com
            | .
        