extends footer_layout

block content
    .my-4
        h1.display-4 條款和條件
        p 歡迎訪問我們的網站。如果您繼續瀏覽和使用本網站，就表明您同意遵守下列使用條款和條件，受其約束，這些條款和條件與我們的隱私政策一起，歸管著本網站星島日報洛杉磯有限公司與您的關係。如果您不同意這些條款和條件中的任何部分，請不要使用我們的網站。
        p 本文件中的一些專用名詞如「星島日報洛杉磯有限公司」、或代名詞「我們」均指總部註冊在 
            a(href="https://www.google.com/maps/place/17059+Green+Dr,+City+of+Industry,+CA+91745/@34.0025024,-117.9356052,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2d5f31f408401:0x69a6832b4e04c5d!8m2!3d34.002498!4d-117.9334165" target="_blank") 17059 Green Drive, City of Industry, CA 91745
            | 
            | 的網站，所有代名詞「您或您們」指的是瀏覽我們網站的用戶或觀眾。
        p 使用本網站須遵守以下條款：
        ul
            li 本網站的網頁內容是提供給您的一般信息，僅供使用，如有變更，恕不另行通知。
            li 本網站使用Cookies監視瀏覽者的喜好。如果您允許使用Cookies，您的個人信息可以僅由我們存儲，不提供第三方使用。
            li 對於特殊使用本網站消息的人來說，本公司或任何第三方都不就消息的準確性、及時性、性能、信息和材料的完整性或適用性，作出任何擔保或保證。您了解這些信息和材料中可能包含不準確或錯誤之處，我們會在法律允許的最大範圍內，排除承擔任何失誤的責任。
            li 使用本網站信息或材料的風險，將完全由您自己承擔，對此我們概不負責。確定本網站的任何產品、服務或信息能否滿足您的特定需求，將完全是您個人的責任。
            li 本網站所含材料歸星島日報洛杉磯分社所有，我們擁有其授權。這類材料包括，但不僅限於設計、呈現、樣貌、外觀和圖形。禁止超越版權聲明許可範圍進行複製，版權聲明構成此條款和條件的一部分。
            li 本網站所製作的商標既不是營運商的產權，也不是給他的授權，這一點在網站上予以公開聲明。
            li 未經授權使用本網站，可能會引起損害賠償申索和/或構成刑事犯罪。
            li 有時本網站可能還包括與其他網站的鏈接，目的是給您提供方便，展示進一步的信息。它們並不意味著我們贊同那（些）網站。我們不對鏈接的網站內容負任何責任。
        
        h1.display-4 Terms and conditions
        p Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Sing Tao Newspapers Los Angeles Ltd.’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
        p The term ‘Sing Tao Newspapers Los Angeles Ltd.’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is 
            a(href="https://www.google.com/maps/place/17059+Green+Dr,+City+of+Industry,+CA+91745/@34.0025024,-117.9356052,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2d5f31f408401:0x69a6832b4e04c5d!8m2!3d34.002498!4d-117.9334165" target="_blank") 17059 Green Drive, City of Industry, CA 91745
            | . The term ‘you’ refers to the user or viewer of our website.
        p The use of this website is subject to the following terms of use:
        ul
            li The content of the pages of this website is for your general information and use only. It is subject to change without notice.
            li This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us only and is not for use by third parties.
            li Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
            li Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
            li This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
            li All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
            li Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.
            li From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).